<div class="feature-heading-bound">
    <div class="feature-heading">
        <h2>Manage Users</h2>
        <mat-form-field>
            <mat-label><mat-icon fontIcon="search"></mat-icon> Find user(s)</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Enter name part" #input>
        </mat-form-field>
    </div>
</div>
<table mat-table [dataSource]="userDataSource" multiTemplateDataRows matSort >
    @for (column of displayColumns; track column) {
        <ng-container matColumnDef="{{column}}">
            @if (isSortable(column)){
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{findColumnTitle(column)}} </th>
            } @else {
                <th mat-header-cell *matHeaderCellDef> {{findColumnTitle(column)}} </th>
            }
            <td mat-cell *matCellDef="let row"> {{row[column]}} </td>
        </ng-container>
    }
    <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let user">
            <button *ngIf="user.id !== currentUser?.id" mat-icon-button 
                aria-label="expand row" 
                (click)="selectedUser = user; $event.stopPropagation()">
                @if (selectedUser === user) {
                    <mat-icon>keyboard_arrow_up</mat-icon>
                } @else {
                    <mat-icon>keyboard_arrow_down</mat-icon>
                }
            </button>
        </td>
    </ng-container>
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let user" [attr.colspan]="displayColumnsExpanded.length">
            <div class="expanded-user-detail" 
                [@detailExpand]="user === selectedUser ? 'expanded' : 'collapsed'">
                <p>Select role for {{selectedUser.name}}:</p>
                <mat-radio-group
                    [(ngModel)]="userRole">
                    @for (role of availableRoles; track role) {
                        <mat-radio-button class="role-radio-button" [value]="role">{{role}}</mat-radio-button>
                    }
                </mat-radio-group>
            </div>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayColumnsExpanded"></tr>
    <tr mat-row *matRowDef="let user; columns: displayColumnsExpanded;" 
        class="user-row"
        [class.expanded-user-row]="selectedUser === user"
        (click)="selectedUser = user">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="user-detail-row"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>