$colorBright: white;
$colorPale: whitesmoke;
$colorActive: lightblue;
$colorDark: black;
$borderBasicStyle: solid;
$borderThinWidth: 1px;
$spacingNominal: 1rem;
$spacingMinimal: 0.5rem;
$spacingExtra: 1.5rem;
$gapSmall: 0.1rem;
$gap: 0.25rem;
$radiusMinimal: 0.25rem;
$radiusNominal: 0.33rem;
$radiusExtra: 0.5rem;
$textSizeLarge: 16pt;
$textSizeNominal: 11pt;
$textSizeMinimal: 9pt;
$inputSizeNominal: 24rem;
