$colorBright: white;
$colorPale: whitesmoke;
$colorActive: lightblue;
$colorDark: black;
$borderBasicStyle: solid;
$borderThinWidth: 1px;
$spacingNominal: 1em;
$spacingMinimal: 0.5em;
$spacingExtra: 1.5em;
$radiusMinimal: 0.25em;
$radiusNominal: 0.33em;
$radiusExtra: 0.5em;
$textSizeLarge: 16pt;
$textSizeNominal: 11pt;
$textSizeMinimal: 9pt;
$textSpacingNominal: 0.25em;
