@use '@angular/material' as mat;
@include mat.core();
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { 
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
body { 
    background-color: #ccc;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
.zero-spacing {
    border: 0;
    margin: 0;
    padding: 0;
}
.items-container {
    align-items: flex-start;
    background-color: #292929;
    border-radius: 0.5em;
    column-gap: 2em;
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: center; 
    margin: 0 2em;
    padding: 2em;
    row-gap: 2em;
}
.item-card {
    max-width: 350px;
}
.item-card img {
    margin: 0;
}