@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { 
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
#header {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: flex-start;
}
#title {
    flex-grow: 2;
    margin-left: 1em;
    padding: 0.5em
}
#titleMain {
    border-bottom: 1px dotted #333;
}

#title h1 {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: x-large;
    font-weight: bold;
}
#title p {
    border: 0;
    color: #333;
    margin: 3pt 0 0 0;
    padding: 0;
    font-size: small;
    font-style: italic;
}
#userAction {
    padding: 1em;
}
.zero-spacing {
    border: 0;
    margin: 0;
    padding: 0;
}