<div class="mat-elevation-z8 radius-nominal padding-nominal margin-sides-nominal margin-bottom-nominal">
    <table mat-table [dataSource]="partClassDataSource">
        <ng-container marColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
            <td mat-cell *matCellDef><mat-icon fontIcon="radio_button_unchecked"></mat-icon></td>
        </ng-container>        
        <ng-container matColumnDef="order">
            <th mat-header-cell *matHeaderCellDef> Order </th>
            <td mat-cell *matCellDef="let class"> {{class['order']}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let class"> {{class['name']}} </td>
        </ng-container>
        <ng-container marColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
            <td mat-cell *matCellDef><mat-icon fontIcon="edit"></mat-icon></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="partClassTableColumns"></tr>
        <tr mat-row *matRowDef="let class; columns: partClassTableColumns;" ></tr>
    </table>
    <table mat-table [dataSource]="partTypeDataSource">
        <ng-container marColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
            <td mat-cell *matCellDef><mat-icon fontIcon="radio_button_unchecked"></mat-icon></td>
        </ng-container>        
        <ng-container matColumnDef="order">
            <th mat-header-cell *matHeaderCellDef> Order </th>
            <td mat-cell *matCellDef="let type"> {{type['order']}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let type"> {{type['name']}} </td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let type"> {{type['description']}} </td>
        </ng-container>        
        <ng-container marColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
            <td mat-cell *matCellDef><mat-icon fontIcon="edit"></mat-icon></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="partTypeTableColumns"></tr>
        <tr mat-row *matRowDef="let type; columns: partTypeTableColumns;" ></tr>
    </table>    
</div>
