<div class="items-container">
    <mat-card class="item-card">
        <mat-card-header>
            <mat-card-title class="zero-spacing">Archives</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./assets/learn_bw.jpeg" alt="picture of books and ephemera related to bicycles">
        <mat-card-content>
            How-to guides, information, other resources, etc.
        </mat-card-content>
    </mat-card>    
    <mat-card class="item-card">
        <mat-card-header>
            <mat-card-title class="zero-spacing">Wheel Workshop</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./assets/wheel_workshop_bw.jpeg" alt="picture of a bicycle wheel on a truing stand, with tools">
        <mat-card-content>
            <p>Calculate spoke lengths, specify your wheel builds, catalog your wheels, take notes.</p>
        </mat-card-content>
    </mat-card>
    <mat-card class="item-card">
        <mat-card-header>
            <mat-card-title class="zero-spacing">Gearing Workshop</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./assets/gearing_workshop_bw.jpeg" alt="picture of bicycle freewheel, cassettes, crank, single speed cog with lock ring, and chain">
        <mat-card-content>
            <p>Find your optimal gearing combinations by calculating ratios and checking compatibility.</p>
        </mat-card-content>
    </mat-card>
    <mat-card class="item-card">
        <mat-card-header>
            <mat-card-title class="zero-spacing">Bike Build Workshop</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./assets/bike_build_workshop_bw.jpeg" alt="picture of bicycle being held in a repair stand">
        <mat-card-content>
            <p>Spec a complete bike build by selecting parts and configuration.</p>
        </mat-card-content>
    </mat-card>
    <mat-card class="item-card">
        <mat-card-header>
            <mat-card-title class="zero-spacing">Inventory</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./assets/inventory_1_bw.jpeg" alt="picture of containers of bicycle parts">
        <mat-card-content>
            <p>Organize your collection of bikes and parts by keeping an inventory.</p>
        </mat-card-content>
    </mat-card>       
</div>