<div id="itemsContainer">
    <mat-card class="itemCard">
        <mat-card-header>
            <mat-card-title>Wheel Workshop</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./assets/wheel_workshop.jpg" alt="picture of a bicycle wheel on a truing stand, with tools">
        <mat-card-content>
            <p>Calculate spoke lengths, specify your wheel builds, catalog your wheels, take notes.</p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Gearing Workshop</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Dial-in the perfect gearing combinations.</p>
        </mat-card-content>
    </mat-card>
</div>