<div class="mat-elevation-z8 radius-nominal padding-nominal margin-sides-nominal margin-bottom-nominal">
    <table mat-table [dataSource]="partClassDataSource">
        <ng-container matColumnDef="order">
            <th mat-header-cell *matHeaderCellDef> Order </th>
            <td mat-cell *matCellDef="let class"> {{class['order']}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let class"> {{class['name']}} </td>
        </ng-container>
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
            <td mat-cell *matCellDef="let class">
                <mat-icon>edit</mat-icon>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="partClassTableColumns"></tr>
        <tr mat-row 
            class="item-row"
            [class.active-class-row]="class === selectedClass"
            *matRowDef="let class; columns: partClassTableColumns;"
            (click)="selectedClass = class">
        </tr>
    </table>
    <table mat-table [dataSource]="partTypeDataSource">
        <!--
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? toggleAllRows() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let type">
                <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(type) : null"
                                [checked]="selection.isSelected(type)"
                                [aria-label]="checkboxLabel(type)">
                </mat-checkbox>
            </td>
        </ng-container>
        -->
        <ng-container matColumnDef="order">
            <th mat-header-cell *matHeaderCellDef> Order </th>
            <td mat-cell *matCellDef="let type"> {{type['order']}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let type"> {{type['name']}} </td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let type"> {{type['description']}} </td>
        </ng-container>
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
            <td mat-cell *matCellDef="let type">
                <mat-icon>edit</mat-icon>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="partTypeTableColumns"></tr>
        <tr mat-row
            class="item-row"
            [class.active-class-row]="partTypeInClass(type)"
            *matRowDef="let type; columns: partTypeTableColumns;"
            (click)="toggleInClass(type)">
        </tr>
    </table>
</div>
