#header {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: flex-start;
}
#title {
    flex-grow: 2;
    margin-left: 1em;
    padding: 0.5em
}
#title-main {
    border-bottom: 1px solid #999;
}
#title h1 {
    border: 0;
    color: white;
    margin: 0 0 2pt 0;
    padding: 0;
    font-size: x-large;
    font-weight: normal;
}
#title p {
    border: 0;
    color: white;
    margin: 3pt 0 0 0;
    padding: 0;
    font-size: small;
    font-style: italic;
}
#user-action {
    padding: 1em;
}