<div id="header">
  <mat-toolbar id="toolbar">
    <div id="site-title">{{title}}</div>
    <div>
      <ng-container *ngFor="let feature of roleFeatures">
        <button mat-button *ngIf="feature.components.length === 1; else navMenuTemplate">{{feature.components[0].title}}</button>
        <ng-template #navMenuTemplate>
          <button mat-button [matMenuTriggerFor]="menu">{{feature.title}}</button>
          <mat-menu #menu="matMenu">
            <button *ngFor="let component of feature.components" mat-menu-item>{{component.title}}</button>
          </mat-menu>
        </ng-template>
      </ng-container>
    </div>
    <div>
      <button mat-fab extended color={{userStatus.actionColor}} (click)="userSignAction()">
        <mat-icon>{{userStatus.actionIcon}}</mat-icon>{{userStatus.actionTitle}}
      </button>    
    </div>
  </mat-toolbar>
</div>
<div id="content">
  <router-outlet></router-outlet>
</div>
<div id="footer">
  <p>CogNative is a free, simple workshop assistant for DIY bicycle projects.</p>
  <p>admin-cognative&#64;gmail.com | Help &amp; Support | No copyright</p>
  <p>Donate</p>
</div>
<!-- modal elements -->
<ng-template #loginDialogTemplate>
  <div class="dialog">
    <h1 mat-dialog-title>Sign-in or Register</h1>
    <mat-dialog-content>
      <p>Select your provider to sign-in (you'll be automatically registered if you haven't signed-in before).</p>
      <p>You need to register and sign-in if you want to save your inventory or any of your workshop projects; you don't have to in order to use the site, however.</p>
      <asl-google-signin-button type='standard' size='medium'></asl-google-signin-button>
    </mat-dialog-content>
  </div>
</ng-template>
