#header {
    border-bottom: 1px solid black;
    flex: 0 0 auto;
}
#content {
    flex: 1 0 auto;
    width: 100%;
}
#footer {
    flex: 0 0 auto;
    border-top: 1px solid black;
    margin-top: 1em;
    width: 100%;
    text-align: center;   
}
#footer p {
    font-size: 10pt;
}
#toolbar {
    background-color: #eee;
    display: flex; 
    flex-direction: row; 
    flex-wrap: nowrap; 
    justify-content: space-between; 
    align-items: center;
}
#site-title {
    font-size: 18pt;
    font-weight: bold;
}
.dialog {
    max-width: 50%;
}